/* General */
html,body {
    font-family: 'Montserrat', sans-serif;
    background-color: #34495e;
}

/* NavBar */
.navbar{
  height: 8vh;
}

/* Resume */
.resume{ 
  width: 100%;
  height: 100vh;
  border: none;
}

/* Cards */
.card{
  margin: 16px 0;
}

.card-title{
  text-decoration: ;
}

.card-body{
  padding: 0 16px;
}

.card-img-top{
  width: 200px;
  margin: 0 auto;
  padding: 25px;
}

.tag{
  margin: 2px;
}

.link{
  padding: 0 8px 0 0;
  margin: 16px 0;
}

@media (min-width: 576px) {
  .card-columns {
      column-count: 1;
      margin: 0 8px;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 2;
      padding: 0 16px;
  }
}

@media (min-width: 992px) {
  .card-columns {
      column-count: 3;
      padding: 0 32px;
  }
}

@media (min-width: 1200px) {
  .card-columns {
      column-count: 4;
      padding: 0 48px;
  }
}